.experiences {
	position:relative;
	top: 650px;
	background : #FBFBFB;
}

.exp {
	width: 250px;
	height: 108px;
	margin-top:35px;
	margin-left: 20px;
}

.un {
	background:#CCE2CB;
}

.deux  {
	background:#C2DBC0;
} 

.trois {
	background:#B8D2B5;
}

.quatre {
	background:#AAC2A7;
}