.formations {
	background-image: url("../images/formations/formations.png");
	font-family: $alice;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	height: ms(9);
	width: 100%;
	margin-top: 5em;
	
	h1 {
		text-align: center;
		letter-spacing: 3px;
		font-size: 30px;
	}

	.forma {
		background: #F5F6F6;
		box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);;
		width: 80%;
		height: ms(5);
		margin-left: 10%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
	}

	.titre {
		font-size: 1.6em;
	}

	.date {
		font-size: ms(1);
		letter-spacing: 5px;
		margin-top: -0.6em;
	}

	.lieu {
		font-size: ms(0);
	} 

}