.formations {
	background-image: url("../images/formations/formations.png");
	width: 50vw;
	height: 500px;
	position: relative;
	top: 600px;
	font-family: $signika;

	h1 {
		padding-top: 12px;
		text-align: center;
		letter-spacing: 3px;
		font-size: 30px;
		padding-left:12px;
	}

	.form_titre {
		padding-left:56px;
	}

	.forma {
		background: #F5F6F6;
		width: 250px;
		height: 108px;
		margin-top:35px;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		text-align: center;
		box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);;
	}

	.titre {
		font-size: 20px;
		position:relative;
		
	}

	h2 {
		font-size: 20px;
		position: relative;
		bottom:10px;
		letter-spacing: 5px;
	}

	h3 {
		font-size: 16px;
		position:relative;
		top: 20px;
	} 

}